<VirtualHost *:80>
    ServerAdmin admin@learn-laravel
    ServerName cms.dev.nguyenhiep
    ServerAlias www.cms.dev.nguyenhiep
    DocumentRoot /home/tuyen/var/www/learn-laravel/public

    <Directory /home/tuyen/var/www/learn-laravel/public/>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
            Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>