/* Custom style css */
#loading {
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99999;
    width: 100%;
    background: transparent;
}

#loading img {
    width: 70px;
}