@media screen and (max-width: 480px){
	.logo img {
		float: none;
	}
	.ew-header .ew-slogan {		
		font-size: 15px;		
		margin-top: 0px;	
	}
	.form-language {		
		text-align: left;
		margin-left:12px;
	}
	.menu-header .menu{		
		margin-left:12px;
	}
	.menu-header .menu li {
		float: right;
	}
	.header-top .formsearch input[type="text"] {	
		margin-right: 0px;
	}
}
@media screen and (max-width: 470px){
	.header-top .formsearch input[type="text"] {		
		width: 250px;
	}
}
@media screen and (min-width: 990px) and (max-width:1200px){
	.ew-header .ew-slogan {
		font-size: 18px;
	}
}
@media screen and (min-width: 480px) and (max-width:605px){
	.ew-header .ew-slogan {
		font-size: 15px;
	}
}
@media all and (max-width : 990px) {
	.menu-main:target > ul
        {
		display: block;
	}
	.menu-main li ul{	
        position: static;
    }
	.menu-main li {
		height: auto;	
	}
	.menu-main li ul li{
		width:  auto;
		height:  auto;
	}
	.menu-main li ul li:last-child{
		border-bottom: 0px solid #e8e8e8;
	}
	.menu-main li ul li{
		margin-left: -24px;
	}
	.menu-left {
		min-height: auto;
	}
	
}
@media screen and (min-width: 990px) and (max-width:1200px){
	.menu-main li ul {
		left: 225px;
	}
	.menu-main li ul li:last-child {
		border-bottom: 0px solid #e8e8e8;
	}
	.menu-main li ul li{
		margin-left: -20px;
	}
}
@media screen and (min-width: 480px) and (max-width:990px){
	
	.form-language {
		padding-bottom: 15px;
		display: block;
		position: relative;
	}
}   