//SUB 1

$sub1_top:30px;
$sub1_bg:#EBEBEB; 
$sub1_radius:4px;
$sub1_pd:5px;
$sub1_w:260px;
	// Arrow
	$sub1_arrow:t; //t,r,b,l
	$sub1_arrow_1:10px;
	$sub1_arrow_2:10px;
	$sub1_arrow_color :$sub1_bg ;
	$sub1_arrow_mg:30px;
	//Inner
	$sub1_inner_bg:#fff;
	$sub1_inner_radius:4px;
	//Menu Ul
	$sub1_ul_pd :0;
	$sub1_ul_mr :0;
		$sub1_ul_li_bd:1px solid rgba(0, 0, 0, 0.2);
			$sub1_ul_a_pd:8px 10px;
			$sub1_ul_a_ac_cl:$color1;








