//THUMBNAIL 1

$thumb1_bg: #fff;
$thumb1_radius: 10px;
$thumb1_border: n;
$thumb1_border_color: $color1;
$thumb1_width: n;
$thumb1_height: n;
$thumb1_padding: 5px;
$thumb1_margin: n;
$thumb1_shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
$thumb1_float: n;





